<div class="row">
  <div class="col-lg-12">
    <nb-card class="action-group">
      <nb-card-body>
        <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
        <!-- <div class="action-groups-header">
                Action
              </div>
              <nb-actions size="medium">
                <nb-action icon=""><i class="nb-pause-outline"></i><span>Submit</span></nb-action>
                <nb-action icon="ion-eye"> Publish</nb-action>
                <nb-action icon="ion-compose"> Draft</nb-action>
                <nb-action icon="ion-calendar"> Scheduler</nb-action>
                <nb-action icon="nb-gear"> Setting</nb-action>
              </nb-actions> -->
        <nb-actions size="medium" fullWidth>
          <nb-action>
            <i class="ion-ios-cloud-upload-outline"></i>
            <a (click)="submit()">
              <span>Publish</span>
            </a>
          </nb-action>
          <nb-action>
            <i class="ion-ios-eye-outline"></i>
            <span>Preview</span>
          </nb-action>
          <nb-action>
            <i class="ion-ios-compose-outline"></i>
            <span>Draft</span>
          </nb-action>
          <nb-action>
            <i class="ion-ios-calendar-outline"></i>
            <span>Scheduler</span>
          </nb-action>
        </nb-actions>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-9">
    <nb-card size="auto">
      <nb-card-header>Main contents</nb-card-header>
      <nb-card-body>
        <div class="input-group">
          <input type="text" [ngModel]="data.title" placeholder="Enter title here..." class="form-control" />
        </div>
        <div class="input-group">
          <input type="text" [ngModel]="data.staticUrl" placeholder="Static URL" class="form-control" />
        </div>
        <div class="input-group">
          <textarea rows="5" [ngModel]="data.excerpt" placeholder="Excerpt" class="form-control"></textarea>
        </div>
        <div class="input-group">
          <ckeditor class="" [(ngModel)]="data.content"></ckeditor>
        </div>
      </nb-card-body>
      <!-- <nb-card-footer>
          </nb-card-footer> -->
    </nb-card>
    <nb-card size="auto">
      <nb-tabset fullWidth>
        <nb-tab tabTitle="SEO">
          <div class="input-group">
            <input type="text" [(ngModel)]="data.seotitle" placeholder="Title" class="form-control" />
          </div>
          <div class="input-group">
            <input type="text" [(ngModel)]="data.seoname" placeholder="Name" class="form-control" />
          </div>
          <div class="input-group">
            <textarea rows="5" [(ngModel)]="data.seodescription" placeholder="Description" class="form-control"></textarea>
          </div>
          <div class="input-group">
            <textarea rows="5" [(ngModel)]="data.seokeywords" placeholder="Keywords" class="form-control"></textarea>
          </div>
        </nb-tab>
        <nb-tab tabTitle="Parents">
          <ng-container *ngIf="data?.categories">
            <sw-category-nav [(navigations)]="data.categories">              
            </sw-category-nav>
          </ng-container>
          <ng-container *ngIf="data?.modules">
            <sw-module-nav [(navigations)]="data.modules"></sw-module-nav>
          </ng-container>

        </nb-tab>
        <nb-tab tabTitle="Modules">
          <ng-container *ngIf="data?.moduleNavs">
            <sw-module-nav [(navigations)]="data.moduleNavs" header="Sub Modules" (onSuggest)="onChange($event)"></sw-module-nav>

            <nb-card>
              <nb-card-header>
                Actived Modules
              </nb-card-header>
              <nb-card-body>
                <ng-container *ngIf="data?.activedModules">
                  <sw-list-module-details [(modules)]="data.activedModules" [articleId] = "data.id"></sw-list-module-details>
                </ng-container>
              </nb-card-body>
            </nb-card>
          </ng-container>
        </nb-tab>
        <nb-tab tabTitle="Layout">

          <div class="input-group">
            <ng-container *ngIf="data?.view">
              <div class="input-group-btn" ngbDropdown>
                <button type="button" class="btn btn-success dropdown-toggle" ngbDropdownToggle>
                  Action
                </button>
                <ul class="dropdown-menu">
                  <li class="dropdown-item" *ngFor="let templ of data.templates" (click)="setView(templ)">{{templ.filename}}</li>
                  <!-- <div role="separator" class="dropdown-divider"></div>
                          <li class="dropdown-item">Separated link</li> -->
                </ul>
              </div>
              <input type="text" class="form-control" [(ngModel)]="data.view.filename" placeholder="Template name...">
            </ng-container>
          </div>
          <div class="input-group">
            <ng-container *ngIf="data?.view">
              <ace-editor #editor [(text)]="data.view.content" [mode]="'csharp'" [theme]="'eclipse'" [options]="options" [readOnly]="false"
                [autoUpdateContent]="true" [durationBeforeCallback]="1000" style="height:450px;"></ace-editor>
            </ng-container>
          </div>
        </nb-tab>
      </nb-tabset>
    </nb-card>

  </div>
  <div class="col-lg-3">
    <nb-card>
      <nb-card-header>Languages</nb-card-header>
      <nb-card-body>
        <div class="col-md-12" *ngFor="let culture of data.listSupportedCulture">
          <nb-checkbox [(ngModel)]="culture.isSupported" status="success">
            {{culture.description}}
            <i class="{{culture.icon}}"></i>
          </nb-checkbox>
        </div>
        <!-- <div class="demo-checkboxes col-sm-12">
              
              <nb-checkbox>Checkbox 1</nb-checkbox>
              <nb-checkbox [value]="true">Checkbox 2</nb-checkbox>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Bootstrap Checkbox</span>
              </label>
            </div> -->
      </nb-card-body>
    </nb-card>


    <nb-card>
      <nb-card-header>Post Type</nb-card-header>
      <nb-card-body>
        <div class="demo-checkboxes col-sm-12">
          <label class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="customRadio">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Blank</span>
          </label>
          <label class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="customRadio" checked>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Article</span>
          </label>
          <label class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="customRadio">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">List</span>
          </label>
          <label class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="customRadio">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Modules</span>
          </label>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Tags</nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <tag-input class="" [(ngModel)]="data.listTag" ></tag-input>
        </div>
      </nb-card-body>
    </nb-card>


    <nb-card size="auto" class="feature-image">
      <nb-card-header>Featured Image</nb-card-header>
      <nb-card-body>
        <ng2-file-input (onAction)="onSelectFile('image', $event)" class="form-control"></ng2-file-input>
        <ng-container *ngIf="data?.image">
          <img src="{{data.image}}" class="form-control" />
        </ng-container>
      </nb-card-body>
      <!-- <nb-card-footer>
        <nb-actions size="auto" fullWidth>
          <nb-action>
            <i class="ion-ios-plus-empty"></i>
            <span>Upload</span>
          </nb-action>
          <nb-action>
            <i class="ion-ios-close-empty"></i>
            <span>Remove</span>
          </nb-action>
        </nb-actions>
      </nb-card-footer> -->
    </nb-card>
    <nb-card size="auto" class="feature-image">
      <nb-card-header>Thumbnail</nb-card-header>
      <nb-card-body>
        <ng2-file-input (onAction)="onSelectFile('thumbnail', $event)" class="form-control"></ng2-file-input>
        <ng-container *ngIf="data?.thumbnail">
          <img src="{{data.thumbnail}}" class="form-control" />
        </ng-container>

      </nb-card-body>
      <!-- <nb-card-footer>
        <nb-actions size="medium" fullWidth>
          <nb-action>
            <i class="ion-ios-plus-empty"></i>
            <span>Upload</span>
          </nb-action>
          <nb-action>
            <i class="ion-ios-close-empty"></i>
            <span>Remove</span>
          </nb-action>
        </nb-actions>
      </nb-card-footer> -->
    </nb-card>
  </div>
</div>
