<div class="row">
  <div class="col-lg-8">
    <nb-card>
      <nb-card-header>
        <span>Main article contents</span>

        <div ngbDropdown>
          <button class="btn btn-primary" type="button" ngbDropdownToggle>
            Action
          </button>
          <ul class="dropdown-menu">
            <li class="dropdown-item">Save</li>
            <li class="dropdown-item">Draft</li>
          </ul>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="input-group">
          <img src="{{data.image}}" class="" />
        </div>
        <div class="input-group">
          <input type="text" [ngModel]="data.title" placeholder="Title" class="form-control" />
        </div>
        <div class="input-group">
          <input type="text" [ngModel]="data.staticUrl" placeholder="Static URL" class="form-control" />
        </div>
        <div class="input-group">

          <textarea rows="5" [ngModel]="data.excerpt" placeholder="Excerpt" class="form-control"></textarea>
        </div>
        <div class="input-group">
          <ng-container *ngIf="data?.content">
            <ckeditor [(ngModel)]="data.content"></ckeditor>
          </ng-container>

        </div>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>
        <span>SEO friendly</span>

        <div ngbDropdown>
          <button class="btn btn-primary" type="button" ngbDropdownToggle>
            Action
          </button>
          <ul class="dropdown-menu">
            <li class="dropdown-item">Save</li>
            <li class="dropdown-item">Draft</li>
          </ul>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="input-group">
          <input type="text" placeholder="Title" class="form-control" />
        </div>
        <div class="input-group">
          <input type="text" placeholder="Name" class="form-control" />
        </div>
        <div class="input-group">
          <textarea rows="5" placeholder="Description" class="form-control"></textarea>
        </div>
        <div class="input-group">
          <textarea rows="5" placeholder="Keywords" class="form-control"></textarea>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>
        <span>Navigations</span>

        <div ngbDropdown>
          <button class="btn btn-primary" type="button" ngbDropdownToggle>
            Action
          </button>
          <ul class="dropdown-menu">
            <li class="dropdown-item">Save</li>
            <li class="dropdown-item">Draft</li>
          </ul>
        </div>
      </nb-card-header>
      <nb-card-body>
        <nb-checkbox status="success" class="col-sm-4">Checkbox with Success</nb-checkbox>
        <nb-checkbox status="warning" class="col-sm-4">Checkbox with Warning</nb-checkbox>
        <nb-checkbox status="danger" class="col-sm-4">Checkbox with Danger</nb-checkbox>
        <nb-checkbox status="success" class="col-sm-4">Checkbox with Success</nb-checkbox>
        <nb-checkbox status="warning" class="col-sm-4">Checkbox with Warning</nb-checkbox>
        <nb-checkbox status="danger" class="col-sm-4">Checkbox with Danger</nb-checkbox>
        <nb-checkbox status="success" class="col-sm-4">Checkbox with Success</nb-checkbox>
        <nb-checkbox status="warning" class="col-sm-4">Checkbox with Warning</nb-checkbox>
        <nb-checkbox status="danger" class="col-sm-4">Checkbox with Danger</nb-checkbox>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>
        <span>Layout Template</span>

        <div ngbDropdown>
          <button class="btn btn-primary" type="button" ngbDropdownToggle>
            Action
          </button>
          <ul class="dropdown-menu">
            <li class="dropdown-item">Save</li>
            <li class="dropdown-item">Draft</li>
          </ul>
        </div>
      </nb-card-header>
      <nb-card-body>

        <div class="input-group">
          <div class="input-group-btn" ngbDropdown>
            <button type="button" class="btn btn-success dropdown-toggle" ngbDropdownToggle>
              Action
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-item">[+] Create New</li>
              <li class="dropdown-item">Template 1</li>
              <li class="dropdown-item">Template 2</li>
              <li class="dropdown-item">Template 3</li>
              <li class="dropdown-item">Template 1</li>
              <li class="dropdown-item">Template 1</li>
              <li class="dropdown-item">Template 1</li>
              <li class="dropdown-item">Template 1</li>
              <li class="dropdown-item">Template 1</li>
              <li class="dropdown-item">Template 1</li>
              <!-- <div role="separator" class="dropdown-divider"></div>
              <li class="dropdown-item">Separated link</li> -->
            </ul>
          </div>
          <input type="text" class="form-control" placeholder="Template name...">
        </div>
        <div class="input-group">
          <textarea rows="20" placeholder="Description" class="form-control"></textarea>
        </div>
      </nb-card-body>
    </nb-card>

  </div>
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>Information</nb-card-header>
      <nb-card-body>

      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>Post Type</nb-card-header>
      <nb-card-body>
        <div class="demo-checkboxes col-sm-12">
          <nb-checkbox>Checkbox 1</nb-checkbox>
          <nb-checkbox [value]="true">Checkbox 2</nb-checkbox>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Bootstrap Checkbox</span>
          </label>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Validation States</nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <input type="text" placeholder="Input with Success" class="form-control form-control-success">
        </div>
        <div class="form-group">
          <input type="text" placeholder="Input with Warning" class="form-control form-control-warning">
        </div>
        <div class="form-group">
          <input type="text" placeholder="Input with Danger" class="form-control form-control-danger">
        </div>
        <div class="form-group validation-checkboxes row">
          <nb-checkbox status="success" class="col-sm-4">Checkbox with Success</nb-checkbox>
          <nb-checkbox status="warning" class="col-sm-4">Checkbox with Warning</nb-checkbox>
          <nb-checkbox status="danger" class="col-sm-4">Checkbox with Danger</nb-checkbox>
        </div>
        <div class="form-group has-success">
          <input type="text" placeholder="Input with Success Icon" class="form-control form-control-success">
        </div>
        <div class="form-group has-warning">
          <input type="text" placeholder="Input with Warning Icon" class="form-control form-control-warning">
        </div>
        <div class="form-group has-danger">
          <input type="text" placeholder="Input with Danger Icon" class="form-control form-control-danger">
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-body class="demo-rating">
        <span class="rating-header">Rating</span>
        <div>
          <ngb-rating [(rate)]="starRate" max=5>
            <ng-template let-fill="fill">
              <span class="star fill" [class.filled]="fill === 100">
                <i class="ion-android-star" *ngIf="fill === 100"></i>
                <i class="ion-android-star-outline" *ngIf="fill !== 100"></i>
              </span>
            </ng-template>
          </ngb-rating>
          <span class="current-rate">{{ starRate }}</span>
        </div>
        <div>
          <ngb-rating [(rate)]="heartRate" max=5>
            <ng-template let-fill="fill">
              <span class="star fill" [class.filled]="fill === 100">
                <i class="ion-ios-heart" *ngIf="fill === 100"></i>
                <i class="ion-ios-heart-outline" *ngIf="fill !== 100"></i>
              </span>
            </ng-template>
          </ngb-rating>
          <span class="current-rate">{{ heartRate }}</span>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>