// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (default, cosmic);

$nb-themes: nb-register-theme((
 // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  // font-main: Roboto,
  // font-secondary: Exo,

// Swastika I/O //////////////////////////

  font-main: Arial,
  // font-secondary: Exo,
  menu-icon-font-size:1.5rem,
  radius:0.1rem,
  
  // color-bg:rgba(0,0,0,.5),
  // layout-bg:rgb(46, 46, 46),
  // shadow:#000,
  // color-fg-text:#fff,

  

//////////////////////////////////////////


), default, default);

$nb-themes: nb-register-theme((
  // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  // font-main: Roboto,
  // font-secondary: Exo,

  
// Swastika I/O //////////////////////////

font-main: Arial,
// font-secondary: Exo,
menu-icon-font-size:1.5rem,
radius:0.3rem,

color-bg:rgba(0,0,0,.5),
layout-bg:rgba(46, 46, 46, 0),
shadow:#000,

color-fg:#fff,
color-fg-text:#fff,

menu-fg:#fff,
font-size:0.9rem,

color-primary:rgb(32, 158, 145),

form-control-bg: rgba(0, 0, 0, 0.15),

card-bg:rgba(63, 63, 63, 0.5),
separator:rgba(0, 0, 0, 0.12),

//////////////////////////////////////////
), cosmic, cosmic);
